{% extends "base.html" %}

{% block title %}
    {{ super() }}
    Equipment
{% endblock %}

{% block page_content %}
    <table>
        <tr>
            <th></th>
            <th>1</th>
            <th>2</th>
            <th>3</th>
            <th>4</th>
            <th>5</th>
            <th>6</th>
        </tr>
        <tr>
            <th>Weapon</th>
            <td>
                Kobold's Axe<br/>
                Merrow's Axe
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                Kobold's Firm Axe<br/>
                Merrow's Calming Axe
            </td>
        </tr>
        <tr>
            <th>Shield</th>
            <td></td>
            <td>
                Kobold's Shield<br/>
                Merrow's Shield
            </td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>Armor</th>
            <td></td>
            <td>
                Kobold's Armor<br/>
                Merrow's Armor
            </td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>...</th>
            <td></td>
            <td></td>
            <td>...</td>
            <td></td>
            <td></td>
        </tr>
    </table>
{% endblock %}
