{% extends "base.html" %}

{% block title %}
    {{ super() }}
    Recipes
{% endblock %}

{% block page_content %}
    <table>
        <tr>
            <th>Name</th>
            <th>Skill</th>
            <th>Type</th>
            <th>Level</th>
            <th>Class</th>
        </tr>
        {% for recipe in recipes %}
        <tr>
            <td>{{ recipe.name }}</td>
            <td>{{ recipe.skill }}</td>
            <td>{{ recipe.type }}</td>
            <td>{{ recipe.level }}</td>
            <td>{{ recipe.class_ }}</td>
        </tr>
        {%  endfor %}
    </table>
{% endblock %}
