{% extends "bootstrap/base.html" %}

{% block styles %}
    {{ super() }}
    <link href="{{ url_for('static', filename='css/sticky-footer-navbar.css') }}" rel="stylesheet">
{% endblock %}

{% block title %}Villagers & Heroes Utilities :: {% endblock %}

{% block navbar %}
    <div class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Villagers & Heroes Utilities</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/crafting">Crafting</a></li>
                </ul>
                <ul class="nav navbar-nav">
                    <li><a href="/equipment">Equipment</a></li>
                </ul>
                <ul class="nav navbar-nav">
                    <li><a href="/recipes">Recipes</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        {% block page_content %}
        {% endblock %}
    </div>
    {% block footer %}
        <footer class="footer footer-navbar-override navbar navbar-inverse">
            <div class="container text-muted">
                <div class="col-12 col-md-10">
                    <a href="https://villagersandheroes.com" target="_blank" rel="noopener">Villagers & Heroes</a> is a registered trademark of <a href="https://www.madottergames.com" target="_blank" rel="noopener">Mad Otter Games</a>
                </div>
                <div class="col-6 col-md-2 text-right"><a href="/credits">Credits</a></div>
            </div>
        </footer>
    {% endblock %}
{% endblock %}
