{% extends "base.html" %}

{% block title %}
    {{ super() }}
    Home
{% endblock %}

{% block page_content %}
    <h1>Villagers & Heroes Utilities</h1>
    <p>This website contains a series of tools to supplement your gaming experience in Villagers & Heroes.</p>
    <dt><a href="/crafting">Crafting</a></dt>
    <dd>
        Allows you to calculate the items, refined ingredients, and crafting components you will need to make recipes.
        You can select the recipes and quantities to craft in either the <a href="/equipment">Equipment</a> or
        <a href="/recipes">Recipes</a> tool.
    </dd>
    <br />
    <dt><a href="/equipment">Equipment</a></dt>
    <dd>
        Displays the crafted equipment (armor, weapons, potions, etc.) by level for the class of your choosing. From
        this tool, you can select equipment to make and then utilize the <a href="/crafting">Crafting</a> tool to
        calculate the necessary resources.
    </dd>
    <br />
    <dt><a href="/recipes">Recipes</a></dt>
    <dd>
        A searchable listing of all of the crafting recipes in the game. You can search and filter for the recipes you
        would like to make then utilize the <a href="/crafting">Crafting</a> tool to calculate the necessary resources.
    </dd>
{% endblock %}
